<p>
  <h1>Dear <%= @vote.name %></h1>

  <p>We are happy to inform that we have received your vote for the <%= UNITE_TITLE.upcase %>.</p>

  <p>Please verify your email address by clicking <a href="<%= @confirm_url %>">here</a>.</p>

  <p>If you did not vote feel free to delete this email.</p>

  <p>Thank you for once again for voting! In case of any questions, contact support at <%= UNITE_CAMPAIGN_ASSISTANT_EMAIL %>.</p>
  <p>
    Best regards,<br/>
    Unite the Armies<br/>
    <%= UNITE_CAMPAIGN_ASSISTANT_NAME %><br/>
    <%= UNITE_CAMPAIGN_ASSISTANT_EMAIL %><br/>
    <%= @url %>
  </p>
</p>
