<h1>_("New comment")</h1>
<table>
  <tr>
    <th style="text-align: left">_("Name")</th>
    <td><%= @comment.vote.name %></td>
  </tr>
  <tr>
    <th style="text-align: left">_("Email")</th>
    <td><%= @comment.vote.email %></td>
  </tr>
  <tr>
    <th style="text-align: left">_("Language")</th>
    <td><%= Language.translated_names[@comment.language] %></td>
  </tr>
  <tr>
    <th style="text-align: left">_("Created at")</th>
    <td><%= @comment.created_at %></td>
  </tr>
  <tr>
    <th style="text-align: left">_("Updated at")</th>
    <td><%= @comment.updated_at %></td>
  </tr>
  <tr>
    <th style="text-align: left">_("Topic")</th>
    <td><%= @comment.theme %></td>
  </tr>
</table>
<p style="white-space: pre-wrap"><%= @comment.body %></p>