<div class="content comment-form text-center">

  <h2 class="h2 upb-3"><%= _("Add a comment") %></h2>

  <%= form_with model: Comment.new, html: {class: "unitethearmies-form", id: "CommentForm"}, action: comments_path, method: :post, "onsubmit": "comment.send()" do |f| %>
  <section class="umb-3">
    <%= f.hidden_field :language %>
    <div><%= f.label :language, _("Choose the language"), class: "ufs-1-5" %></div>
    <div class="row umb-3">
      <div class="col-12">
        <%= comment_languages %>
      </div>
    </div>
  </section>

  <section class="umb-3">
    <%= f.hidden_field :theme %>
    <div><%= f.label :theme, _("Choose a theme"), class: "ufs-1-5" %></div>
    <div class="row umb-3">
      <div class="col-12">
        <%= comment_themes %>
      </div>
    </div>
  </section>

  <section class="umb-3">
    <div class="row umb-3">
      <div class="col-12">
        <div class="ufs-1-5 comment_description rounded umb-3"></div>
        <p class="ufs-1-5 comment_conclusion"></p>
        <p class="ufs-1-5">Comment can be anonymous.</p>
      </div>
    </div>

    <div class="row umb-3">
      <div class="col-12">
        <%= f.label :body, _('Comment (max 1000 characters)')%>
        <%= f.text_area :body, :class => "form-control-lg ufs-1-5 border-4 rounded comment_body", rows: 5, :placeholder => _("Your comment") %>
      </div>
    </div>

    <div class="row umb-3">
      <div class="col-4">
        <%= f.check_box :anonymous, :class => "form-control-lg", checked: true %>
        <%= f.label :anonymous, _('Anonymous?') %>
      </div>
      <div class="col-4">
        <div class="g-recaptcha" data-sitekey="<%= UNITE_RECAPTCHA_PUBLIC_KEY %>"></div>
      </div>
    </div>

    <div class="row umb-3">
      <div class="col-12">
        <%= f.submit _("Send!"), :class => "btn btn-primary form-control btn-lg" %>
      </div>
    </div>
  </section>

  <% end %>

</div>