<div class="content comment-form text-center">

  <h2 class="h2 upb-3"><%= _("Add a comment") %></h2>

  <%= form_with model: Comment.new do |f| %>
  <section class="umb-3">
    <div><%= f.label :language, _("Choose the language"), class: "ufs-1-5" %></div>
    <div class="row umb-3">
      <div class="col-12">
        <%= comment_languages %>
      </div>
    </div>
  </section>

  <section class="umb-3">
    <div><%= f.label :language, _("Choose a theme"), class: "ufs-1-5" %></div>
    <div class="row umb-3">
      <div class="col-12">
        <%= comment_topics %>
      </div>
    </div>
  </section>

  <section class="umb-3">
    <div class="row umb-3">
      <div class="col-12">
        <%= f.label :body, _('Comment (max 1000 characters)') %>
        <%= f.text_area :body, :class => "form-control form-control-lg", rows: 5, :placeholder => _("Your comment") %>
      </div>
    </div>

    <div class="row umb-3">
      <div class="col-12">
        <div class="g-recaptcha" data-sitekey="<%= UNITE_RECAPTCHA_PUBLIC_KEY %>"></div>
      </div>
    </div>

    <div class="row umb-3">
      <div class="col-12">
        <%= f.submit _("Add"), :class => "btn btn-primary form-control btn-lg" %>
      </div>
    </div>
  </section>

  <% end %>

</div>