<%= slider_new(@slider) do
  { css: "slideshow-container-top vh-50" }
end %>

<script type="text/javascript">
  window.onload = function() {
    document.querySelector('form').addEventListener('submit', function(e) {
      e.preventDefault()
      alert('Does not work yet')
      return false;
    })

  }
</script>

<div class="section-block grid-container fade-in-progressively bg-white text-dark admin">

  <!-- Register -->
  <section class="umx-8 umt-3">
    <div class="row">
      <div class="col-6">
        <h2><%= _("Register your service") %></h2>
        <p><%= (_("If you are running your own %s service you can register your service to the main service at Unitethearmies.org." % unite_title_html)).html_safe %>
        <p><%= _("Registered services may share and show collected votes in different servers. After registering all registered services will be available to your service.") %>
        <p><%= (_("You can read more at %s." % link_to(tag.icon(class: "bi bi-github"), GITHUB_URL)) ).html_safe %>
      </div>
      <div class="col-6">
        <%= form_tag("/admin/register", method: :post) do %>
        <div class="form-group">
          <%=
          register_form = []
          register_form << label_tag(:register_site_url, "URL")
          register_form << text_field_tag(:register_site_url, "", placeholder: "https://your.unite.the.armies.website.com", class: "form-control", aria: {describedby: "register_site_help"})
          register_form << tag.small("Type your service url.", id: "register_site_help", class: "form-text text-muted")
          register_form.join("\n").html_safe
          %>
        </div>
        <div class="form-group">
          <%= submit_tag("Lähetä", class: "btn btn-primary") %>
        </div>
        <% end %>
      </div>
    </div>
  </section>
  <!-- Register End -->

  <!-- Fileupload -->
  <section class="umx-8 umt-3 upload-csv">
    <div class="row">
      <div class="col-6">
        <h2><%= _("Add users by uploading a CSV file") %></h2>
        <p><%= _("File needs to be in CSV (comma separated values) format.") %> <%= _("One user will be added per line, with name, email and country in that order.") %></p>
        <p><%= _("Example: Matti Meikälinen, matti@gmail.com, fi") %></p>
      </div>
      <div class="col-6">
        <%= form_tag("/admin/upload", method: :post, multipart: true) do %>
        <%= file_field_tag(:admin_csv) %>
        <%= submit_tag("Lähetä", class: "btn btn-primary") %>
        <% end %>
      </div>
    </div>
  </section>
  <!-- Fileupload End -->


</div>