<!-- Content -->
<div class="content clearfix">
  <!-- Slider Section -->
  <%= slider do
  [{
    link: "",
    topic_1: _("Get to your private vote"),
    topic_2: "",
    img: image_path("frontpage-slides/luminen-puu.jpg"),
    img_alt: _("At duckboard"),
    img_blank: image_path("blank.gif")
  }]
  end
  %>
  <!-- Slider Section End -->

  <section class="section-block-pt feature-1 bkg-white">
    <div class="row">
      <div class="col-12">
        <h1 class="title-xlarge color-dark lspacing-medium no-margin-bottom weight-bold" data-animate-in="opacity:0;scale:1.5px;duration:600ms;easing:easeFastSlow;" data-no-scale>
        </h1>
        <div class="clear"></div>
        <p class="fs-2 color-dark lspacing-medium mt-20" data-animate-in="opacity:0;transY:50px;duration:600ms;delay:300ms;easing:easeFastSlow;" data-no-scale>
          <%= _("Type your email you used at vote. Link to your private vote will be sent to your mailbox.") %>
          </h5>
      </div>
    </div>
  </section>


  <!-- Feature Section 1 -->
  <section class="section-block-pt feature-1 bkg-white">
    <div class="row no-padding-bottom">
      <div class="col-6 offset-3">
        <div class="feature-content">
          <div class="feature-content-inner">
            <%= form_with url: "/tokens", method: :post, id: "TokenForm" do |form| %>
            <div class="row">
              <div class="col-10">
                <%= form.email_field :email %>
              </div>
              <div class="col-2">
                <%= form.submit "Send" %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Feature Section 1 End -->

</div>
<!-- Content End -->