<%= slider_new(@slider) do
  { css: "slideshow-container-top vh-100" }
end %>

<section class="section-block-pt feature-1 bg-white upx-8 upy-3">
  <div class="row">
    <div class="col-12">
      <h1 class="title-xlarge color-dark lspacing-medium no-margin-bottom weight-bold" data-animate-in="opacity:0;scale:1.5px;duration:600ms;easing:easeFastSlow;" data-no-scale>
      </h1>
      <div class="clear"></div>
      <p class="ufs-2 color-dark lspacing-medium mt-20" data-animate-in="opacity:0;transY:50px;duration:600ms;delay:300ms;easing:easeFastSlow;" data-no-scale>
        <%= _("Type your email used while voting. Link to your private vote will be sent to your mailbox.") %>
      </p>
    </div>
  </div>
</section>


<!-- Feature Section 1 -->
<section class="section-block-pt feature-1 bg-white upx-8 upb-3">
  <div class="row no-padding-bottom">
    <div class="col-6 offset-3">
      <div class="feature-content">
        <div class="feature-content-inner">
          <%= form_with url: "/tokens", method: :post, id: "TokenForm" do |form| %>
          <div class="row">
            <div class="col-10">
              <%= form.email_field :email %>
            </div>
            <div class="col-2">
              <%= form.submit "Send" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature Section 1 End -->