<!-- Fullscreen Slider Section -->
<%= fs_slider do
  [{
    link: "",
    topic_1: _("First Aid 1"),
    topic_2: _("To Our Common World"),
    img: image_path("frontpage-slides/tyyni-jarvenselka.jpg"),
    img_blank: image_path("blank.gif")
  },
  {
    link: "",
    topic_1: _("First Aid 2"),
    topic_2: _("To Our Common World"),
    img: image_path("frontpage-slides/tyyni-jarvenselka.jpg"),
    img_blank: image_path("blank.gif")
  }]
  end
  %>

<!-- Feature Column Section -->
<div class="section-block upx-8 upy-8">
  <div class="row">
    <div class="col-4">
      <div class="feature-column small left">
        <span class="text-small pull-left font-alt-1">01.</span>
        <div class="feature-text">
          <h5 class="text-uppercase text-small weight-light" style="font-weight: normal"><%= _("Campaign") %></h5>
          <p class="mb-mobile-30">
            <%= _("We introduce this campaign to support an initiative presented to the United Nations Secretariat by two professors: U.B. Lindström and Eero Paloheimo.") %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="feature-column small left">
        <span class="text-small pull-left font-alt-1">02.</span>
        <div class="feature-text">
          <h5 class="text-uppercase text-small weight-light" style="font-weight: normal"><%= _("State of the global environment") %></h5>
          <p class="mb-mobile-30"><%= _("The concern of this campaign is that the global environment is radically deteriorating. Dangerous developments have accelerated and approach the point of no return.") %></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="feature-column small left">
        <span class="text-small pull-left font-alt-1">03.</span>
        <div class="feature-text">
          <h5 class="text-uppercase text-small weight-light" style="font-weight: normal"><%= _("New global role for the Military") %></h5>
          <p class="mb-mobile-30"><%= _("It is accepted that the military are called to assist the areas affected by sudden disasters. The same power should be used to defend us against gradual disasters.") %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-block replicable-content upx-8 upy-8">
  <div class="row">
    <div class="col-6 text-center">
      <h3 class="mb-50">U.B. Lindström, <%= _("professor") %></h3>
      <p class="mb-40 blockquote"><%= _("\"Time is running out while we are destroying the planet's resources. This must be changed and it can be changed. You can participate. Take action today.\"") %>
        <br />
        <a href="#"><u>ulf.lindstrom@kolumbus.fi</u></a>
      </p>
      <div class="thumbnail no-margin-bottom">
        <iframe style="width: 70% !important; height: 300px !important;" src="https://player.vimeo.com/video/141501775?byline=0&portrait=0" width="933" height="525" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="weight-bold text-uppercase transparent-element mb-mobile-50"><small>U.B. Lindström, professori</small></p>
    </div>
    <div class="col-6 text-center">
      <h3 class="mb-50">Eero Paloheimo, <%= _("professor") %></h3>
      <p class="mb-40 blockquote"><%= _("\"We are in a hurry. We don’t have time for centuries, we have only decades. That is why effective and quick actions are necessary. The armies are the only possibility.\"") %>
        <br />
        <a href="#"><u>ekpaloheimo@hotmail.com</u></a>
      </p>
      <div class="thumbnail no-margin-bottom">
        <iframe style="width: 70% !important; height: 300px !important;" src="https://player.vimeo.com/video/141501786?byline=0&portrait=0" width="933" height="525" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="weight-bold text-uppercase transparent-element mb-mobile-50"><small>Eero Paloheimo, professori</small></p>
    </div>
  </div>
</div>

<!-- kirje -->
<div class="section-block replicable-content upx-8 upy-8">
  <div class="row">
    <div class="col-10 offset-1 offset-right-1 initiative-presented ">
      <h1><%= _("Initiative presented to the United Nations:") %></h1>
      <p class="lead ufs-2">
        <%= _("To the Secretary-General and Secretariat of the United Nations") %><br />
        <%= _("Helsinki, 4.11.2014") %>
      </p>
      <p class="ufs-1-5">
        <%= _("We the undersigned addressees turn to you because of our concern at the state of the global environment. In many parts of the world the deterioration of the environment can be linked directly to social problems among the local population.") %>
      </p>
      <p class="ufs-1-5">
        <%= _("Such harmful developments have accelerated and often aggravated one another. It is to be feared that this process may reach unnoticed a ‘point of no return’, after which it can no longer be reversed, or even arrested, by human intervention.") %>
      </p>
      <p class="ufs-1-5">
        <%= _("In the next few decades only strong and effective countermeasures will be able to halt the advance of this process. We propose for your consideration the idea that global spending on armaments should be re-directed (along with other measures) to address social and environmental deterioration in a more focused manner than at present.") %>
      </p>
      <p class="ufs-1-5">
        <%= _("We propose action on projects requiring large-scale resources, both of manpower and equipment; these would include agro-forestry projects, forest, plant and animal relocations in the wake of global warming. Such projects would assist in averting the worst catastrophes; they would also aid and foster ecological and social stability, and employment at the local level, assuming the use of local labor.") %>
      </p>
      <p class="ufs-1-5">
        <%= _("Total global spending on armaments is estimated at $1500 billion annually; such spending can be put into perspective by setting it alongside the estimated cost of the afforestation of the entire Sahara Desert, which would amount to about one-sixth of annual global armaments spending. This example neatly illustrates the extent of the potential needed for action in this matter, should the political will be found.") %>
      </p>
      <p class="ufs-1-5">
        <%= _("On a political level, it is the accepted practice everywhere that the military is called in to assist those affected by sudden and unexpected environmental disasters. It would simply be a logical extension of this practice to employ such a resource in counteracting the effects of more gradual but much larger-scale and inexorably-advancing catastrophes; this with the help, it is to be hoped, of local NGOs.") %>
      </p>
      <p class="ufs-1-5">
        <%= _("We earnestly hope that the United Nations will consider suggesting a global initiative to put the proposals outlined above into effect and for a redeployment of the world’s armed forces into this new task as soon as possible. Such an initiative would also have a tangible effect in promoting world peace.") %>
      </p>
      <br>
    </div>
  </div>
</div>
<!-- /kirje -->

<section class="section-block feature-2 bg-white upy-8 upx-8 color-white">
  <div class="row">
    <div class="col-9 offset-1">
      <%= link_to new_vote_path(locale: locale), { :class => button_black, :data => { :no_turbolink => true }} do %>
      <span class="bi bi-person-add align-middle"></span>
      <%= _("Support now") %>
      <% end %>
    </div>
  </div>
</section>