<%= fs_slider({section_classes: ["unite-landing"], show_navigation: false}) do
[{
  link: link_to(new_vote_path(locale: locale, anchor: "sign"),
            :class => "fw-bold fs-4-5 position-static tms-caption mt-5 button text-decoration-none bkg-white thick bkg-hover-cornflowerblue color-black color-hover-white text-uppercase no-margin-bottom text-uppercase shadow rounded",
            data: { animate_in: "opacity:0;transY:50px;duration:600ms;delay:400ms;easing:easeFastSlow;",
            no_scale: true, no_turbolink: true }) { _("Support now") },
  topic_1: _("Save the planet"),
  topic_2: _("Give the armies a new, positive task: protect the environment"),
  img_srcset: "#{image_path("slides/earth-w1024.jpg")} 1x, #{image_path("slides/earth-w2048@2x.jpg")} 2x, #{image_path("slides/earth-w3072@3x.jpg")} 3x, #{image_path("slides/earth-w4096@4x.jpg")} 4x",
  img_mobile: image_path("slides/earth-w512.jpg"),
  img_tablet: image_path("slides/earth-w1024.jpg"),
  img_default: image_path("slides/earth-w512.jpg"),
  img_blank: image_path("blank.gif")
}]
end
%>

<!-- karuselli -->
<div class="slideshow-container section-block bkg-charcoal m-0 p-0 overflow-hidden" data-decorators="carusel">
  <ol class="slideshow slideshow-carusel slideshow-landing" data-interval="5" data-decorators="">
    <li data-image-src=<%= image_path("slides/forest.jpg") %> data-class="black-text" />
    <li data-image-src=<%= image_path("slides/woodland-w1024.jpg") %> data-class="black-text" />
    <li data-image-src=<%= image_path("slides/viidakko.jpg") %> data-class="black-text" />
    <li data-image-src=<%= image_path("slides/tyyni-jarvenselka.jpg") %> data-class="black-text" />
    <li data-image-src=<%= image_path("slides/talvi18.jpg") %> data-class="black-text" />
    <li data-image-src=<%= image_path("slides/avaruus.jpg") %> />
    <li data-image-src=<%= image_path("slides/autumn-shore.jpg") %> />
    <li data-image-src=<%= image_path("slides/sunrise-on-the-sea.jpg") %> />
  </ol>
  <div id="slideshow-caption" data-caption="landing-carusel" class="umx-5 container feature-column large center horizon" data-animate-in="opacity:0;transY:50px;duration:600ms;delay:300ms;easing:easeFastSlow;" data-threshold="1">
    <div class="row ">
      <div class="col-12 text-start">
        <h2 class="umb-2 ufs-4">
          <span><%= _("First Aid") %> <%= _("To Our Common World") %></span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-start">
        <p class="umb-2 ufs-1-5 text-uppercase">
          <span>
            <%= _("There is a hidden potential at hand: the national armies.") %>
            <%= _("We have to give the armies a new, positive task.") %>
            <%= _("In these pages we collect support for a global initiative.") %>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- /karuselli -->

<!-- info -->
<section class="section-block bg-white color-dark upx-8">
  <div class="row">
    <div class="col-6">
      <div class="center animated-block-l2r">
        <div class="umy-3">
          <%= image_tag "pollution.jpg", alt:_('Pollution') %>
        </div>
        <div class="feature-text">
          <h2 class="umy-1"><%= _("Air pollution is a global Challenge!") %></h2>
          <p class="blockquote"><%= _("The resources and capacity of the United Armies must be directed to reforestation of the deserts.") %></p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="center animated-block-r2l">
        <div class="umy-3">
          <%= image_tag "nowater.jpg", alt:"" %>
        </div>
        <div class="feature-text">
          <h2 class="umy-1"><%= _("Water is the Mother of Life – we all need it!") %></h2>
          <p class="blockquote"><%= _("The United Armies must ensure sufficient water availability everywhere for the needs of people and life.") %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="center animated-block-l2r">
          <div class="umy-3">
            <%= image_tag "trash.jpg", alt:"" %>
          </div>
          <div class="feature-text">
            <h2 class="umy-1"><%= _("Millions of Tons of Plastic Waste on the Shores and Oceans!") %></h2>
            <p class="blockquote"><%= _("The United Armies must collect the plastic waste from the oceans and shores.") %></p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="center animated-block-r2l">
          <div class="umy-3">
            <%= image_tag "polars.jpg", alt:"" %>
          </div>
          <div class="feature-text">
            <h2 class="umy-1"><%= _("We must defend Life's Richness on our Planet!") %></h2>
            <p class="blockquote"><%= _("The United Armies must protect the areas reserved for nature.") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- video -->
<section class="section-block bg-white">
  <div style="padding:80% 0 0 0;position:relative;">
    <iframe src="https://player.vimeo.com/video/<%= unite_video_id %>?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Save the Planet - Unite the Armies"></iframe>
  </div>
  <script src="https://player.vimeo.com/api/player.js"></script>
</section>
<!-- /video -->

<section class="section-block bg-white upx-8 upy-8">
  <%= random_comment %>
</section>

<section class="section-block feature-2 bg-white upx-8 upy-8">
  <div class="row">
    <div class="col-11 offset-1">
      <%= link_to appeal_path(locale: locale),
        { :class => button_black } do
          content = tag.span class: "bi bi-info-circle align-middle" do " " end
          content << _("Read more")
          content
        end
      %>
      <%= link_to new_vote_path(locale: locale),
        { :class => button_black } do
          content = tag.span class: "bi bi-person-add align-middle" do " " end
          content << _("Support now")
          content
        end
      %>
    </div>
  </div>
</section>