<!-- Fullscreen Slider Section -->
<section class="section-block featured-media window-height tm-slider-parallax-container">
  <div class="tm-slider-container full-width-slider" data-featured-slider data-progress-bar="false" data-parallax data-parallax-fade-out data-auto-advance data-animation="slide" data-scale-under="960">
    <ul class="tms-slides">
      <li class="tms-slide" data-image data-force-fit>
        <div class="tms-content">
          <div class="container tms-content-inner center left-on-mobile v-align-middle">
            <div class="row">
              <div class="col-12">
                <h1 class="tms-caption title-xlarge color-white lspacing-medium mb-20 weight-bold" data-animate-in="opacity:0;scale:1.5px;duration:600ms;easing:easeFastSlow;" data-no-scale>
                  <%= _("Save the planet") %>
                </h1>

                <h5 class="tms-caption color-white lspacing-medium hide-on-mobile" data-animate-in="opacity:0;transY:50px;duration:600ms;delay:300ms;easing:easeFastSlow;" data-no-scale>
                  <%= _("Give the armies a new, positive task: protect the environment") %>
                </h5>
                <div class="clear"></div>
                <%= link_to new_vote_path(locale: locale, anchor: "sign"), :class => "tms-caption text-decoration-none button large bkg-white thick bkg-hover-beige color-black color-hover-white text-uppercase no-margin-bottom text-uppercase", data: { animate_in: "opacity:0;transY:50px;duration:600ms;delay:400ms;easing:easeFastSlow;", no_scale: true, no_turbolink: true } do %>
                    <%= _("Support now") %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <img data-src="/images/slide-1-fs.jpg" data-retina src="/images/blank.png" alt=""/>
      </li>
    </ul>
  </div>
</section>
<!-- Fullscreen Slider Section End -->

<div class="section-block bkg-charcoal m-0 p-0 overflow-hidden">
  <ol class="slideshow" style="height: 66vw; min-height: 300pt;" data-interval="5">
    <li data-image-src="/images/frontpage-slides/slide-2.jpg" data-class="black-text"/>
    <li data-image-src="/images/frontpage-slides/viidakko.jpg" data-class="black-text"/>
    <li data-image-src="/images/frontpage-slides/slide-3.jpg"/>
    <li data-image-src="/images/frontpage-slides/luminen-puu.jpg"/>
    <li data-image-src="/images/frontpage-slides/slide-5.jpg"/>
    <li data-image-src="/images/frontpage-slides/slide-6.jpg"/>
  </ol>
  <div style="display: flex; align-items: center;" id="slideshow-caption" class="container feature-column large center horizon" data-animate-in="opacity:0;transY:50px;duration:600ms;delay:300ms;easing:easeFastSlow;" data-threshold="1">
    <div style="">
      <div class="col-12 text-start">
        <h2 class="mb-30 fs-3">
          <span><%= _("First Aid") %> <%= _("To Our Common World") %></span>
        </h2>
      </div>
      <div class="col-12 text-start">
        <p class="mb-30 fs-4 text-uppercase">
          <span>
            <%= _("There is a hidden potential at hand: the national armies.") %>
            <%= _("We have to give the armies a new, positive task.") %>
            <%= _("In these pages we collect support for a global initiative.") %>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- columnit -->
<section class="section-block bkg-white color-dark">
  <div class="replicable-content">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <div class="feature-column large center horizon" data-animate-in="transX:-30px;" data-threshold="1">
              <div class="mt-5">
                <%= image_tag "barber-shop/pollution.jpg", alt:_('Pollution') %>
              </div>
              <div class="feature-text">
                <h2 class="h2 mt-2"><%= _("Air pollution is a global Challenge!") %></h2>
                <p class="blockquote"><%= _("The resources and capacity of the United Armies must be directed to reforestation of the deserts.") %></p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="feature-column large center horizon" data-animate-in="transX:30px;delay:200ms;" data-threshold="1">
              <div class="mt-5">
                <%= image_tag "barber-shop/nowater.jpg", alt:"" %>
              </div>
              <div class="feature-text">
                <h2 class="h2 mt-2"><%= _("Water is the Mother of Life – we all need it!") %></h2>
                <p class="blockquote"><%= _("The United Armies must ensure sufficient water availability everywhere for the needs of people and life.") %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row text-center">
          <div class="col-6">
            <div class="feature-column large center horizon" data-animate-in="transX:-30px;delay:400ms;" data-threshold="1">
              <div class="mt-5">
                <%= image_tag "barber-shop/trash.jpg", alt:"" %>
              </div>
              <div class="feature-text">
                <h2 class="h2 mt-2"><%= _("Millions of Tons of Plastic Waste on the Shores and Oceans!") %></h2>
                <p class="blockquote"><%= _("The United Armies must collect the plastic waste from the oceans and shores.") %></p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="feature-column large center horizon" data-animate-in="transX:30px;delay:600ms;" data-threshold="1">
              <div class="mt-5">
                <%= image_tag "barber-shop/polars.jpg", alt:"" %>
              </div>
              <div class="feature-text">
                <h2  class="h2 mt-2"><%= _("We must defend Life's Richness on our Planet!") %></h2>
                <p class="blockquote"><%= _("The United Armies must protect the areas reserved for nature.") %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%
  if locale == :fi
    url = "https://player.vimeo.com/video/153508732?autoplay=false"
    video_id = "153508732"
  elsif locale == :es
    url = "https://player.vimeo.com/video/153508813?autoplay=false"
    video_id = "153508813"
  elsif locale == :zh
    url = "https://player.vimeo.com/video/153508814?autoplay=false"
    video_id = "153508814"
  elsif locale == :ru
    url = "https://player.vimeo.com/video/153508816?autoplay=false"
    video_id = "153508816"
  elsif locale == :fr
    url = "https://player.vimeo.com/video/153508812?autoplay=false"
    video_id = "153508812"
  elsif locale == :ar
    url = "https://player.vimeo.com/video/160513218?autoplay=false"
    video_id = "160513218"
  else
    url = "https://player.vimeo.com/video/153508772?autoplay=false"
    video_id = "153508772"
  end
%>
<section class="section-block">
  <div style="padding:80% 0 0 0;position:relative;">
    <iframe src="https://player.vimeo.com/video/<%= video_id %>?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Save the Planet - Unite the Armies"></iframe>
  </div>
  <script src="https://player.vimeo.com/api/player.js"></script>
</section>

<section class="section-block">
  <div class="row">
    <div class="col-10 offset-2">
      <div class="feature-content">
        <div class="feature-content-inner">
          <%= link_to appeal_path(locale: locale), { :class => "button xlarge bkg-black thick bkg-hover-white color-white color-hover-black text-uppercase mb-90", :data => { :no_turbolink => true }} do %>
              <span class="icon-info-with-circle left"></span>
              <%= _("Read more") %>
          <% end %>

          <%= link_to new_vote_path(locale: locale), { :class => "button xlarge bkg-black thick bkg-hover-white color-white color-hover-black text-uppercase mb-90", :data => { :no_turbolink => true }} do %>
              <span class="icon-add-user left"></span>
              <%= _("Support now") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature Section 1 End -->
