<!-- Content -->
<div class="content clearfix">

  <!-- Fullscreen Slider Section -->
  <%= slider_section do
  [{
    link: "",
    topic_1: _("Download"),
    topic_2: _(""),
    img: image_path("frontpage-slides/desert-plants.jpg"),
    img_blank: image_path("blank.gif")
  }]
  end
  %>
  <!-- Fullscreen Slider Section End -->

  <section>
    <div class="animated-block upx-8 upy-4 section-block bg-black color-white">
      <div class="row">
        <div class="col-12">
          <h1 class="animated-h1"><%= _("Material") %></h1>
          <p><%= _("Sorry, our material is mostly in Finnish. We apologize for any inconvenience this may cause and hope to provide more multilingual material in the future.") %>
          <p><%= _("You may read the materials online, download them on your computer or print them; note that the pamphlet is designed to be printed on both sides of the paper.") %> </p>
          <div class="d-flex umy-2">
            <div class="upr-2">
              <%= link_to(image_tag("signatures.png", width: 100, height: 100), "/pdf/guide_to_gathering_signatures.pdf", id: "guide_to_gathering") %>
            </div>
            <div class="upr-2">
              <%= link_to(image_tag("pamphlet.png", width: 100, height: 100), "/pdf/unite_the_armies_pamphlet.pdf", id: "pamphlet") %>
            </div>
            <div class="upr-2">
              <%= link_to(image_tag("poster.png", width: 100, height: 100), "/pdf/unite_the_armies_poster.pdf", id: "poster") %>
            </div>
            <div class="upr-2">
              <%= link_to(image_tag("collection-form.png", width: 100, height: 100), "/pdf/unite_the_armies_signature_collection_form.pdf", id: "signature_collection") %>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>