<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href="<%= url_for only_path: false, locale: :ar, protocol: UNITE_APPLICATION_PROTOCOL %>" onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-sa", alt: _("Arabic") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href="<%= url_for only_path: false, locale: :zh, protocol: UNITE_APPLICATION_PROTOCOL %>" onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-cn", alt: _("Chinese") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href="<%= url_for only_path: false, locale: :en, protocol: UNITE_APPLICATION_PROTOCOL %>" onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-gb", alt: _("English") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href="<%= url_for only_path: false, locale: :fr, protocol: UNITE_APPLICATION_PROTOCOL %>" onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-fr", alt: _("French") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href="<%= url_for only_path: false, locale: :ru, protocol: UNITE_APPLICATION_PROTOCOL %>" onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-ru", alt: _("Russian") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href="<%= url_for only_path: false, locale: :es, protocol: UNITE_APPLICATION_PROTOCOL %>" onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-es", alt: _("Spanish") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href="<%= url_for only_path: false, locale: :de, protocol: UNITE_APPLICATION_PROTOCOL %>" onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-de", alt: _("German") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href="<%= url_for only_path: false, locale: :se, protocol: UNITE_APPLICATION_PROTOCOL %>" onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-se", alt: _("Swedish") %>
  </a>
</li>
<li>
  <a class="contains-sub-menu" data-no-turbolink='true' target="_top" href="<%= url_for only_path: false, locale: :fi, protocol: UNITE_APPLICATION_PROTOCOL %>" onclick="window.location = $(this).attr('href')">
    <%= image_tag "blank.gif", class: "flag flag-fi", alt: _("Finnish") %>
  </a>
</li>
