<!-- Footer -->
<footer class="footer upx-8 upt-5">
  <div class="row border-bottom ">
    <div class="col-4">
      <h5 class="text-start"><%= _("About Us") %></h5>
    </div>
    <div class="col-2">
      <h5 class="text-start"><%= _("Reach Us") %></h5>
    </div>
    <div class="col-2">
      <h5 class="text-start"><%= _("Navigate site") %></h5>
    </div>
    <div class="col-4 order-last">
      <h5 class="text-end"><%= _("Recent Votes") %></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-4 upt-2">
      <div class="row">
        <div class="col-5 p-0 text-center">
          <div>
            <%= link_to TEP_URL, target: "_blank" do %>
            <%= image_tag "teplogo-scaled.jpg", alt: _(TEP_NAME) %>
            <p class="ufs-1"><%= _(TEP_NAME) %></p>
            <% end %>
          </div>
        </div>
        <div class="col-7 p-0">
          <div class="upx-1">
            <ul class="ufs-1">
              <li><span>Anyara Granskog</span></li>
              <li><span>Valtteri Hirvonen</span></li>
              <li><span>Hayang Hu</span></li>
              <li><span>Elli Kempas</span></li>
              <li><span>Ulla Klötzer</span></li>
              <li><span>Riikka Kämppi</span></li>
              <li><span>Lea Launokari</span></li>
              <li><span>Pekka Lehtinen</span></li>
              <li><span>Ulf Lindström</span></li>
              <li><span>Pentti Linkola</span></li>
              <li><span>Harriet Lonka</span></li>
              <li><span>Tommi Lukkarinen</span></li>
              <li><span>Mika Mattila</span></li>
              <li><span>Nina Motaleff</span></li>
              <li><span>Saku Mättö</span></li>
              <li><span>Aurora Paloheimo</span></li>
              <li><span>Eero Paloheimo</span></li>
              <li><span>Kimmo Pietiläinen</span></li>
              <li><span>Sanna Saastamoinen-Barrois</span></li>
              <li><span>Emmi Seppänen</span></li>
              <li><span>Adrian Soto</span></li>
              <li><span>Joni Töyrylä</span></li>
              <li><span>Tere Vadén</span></li>
              <li><span>Michael Wynne-Ellis</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2 upt-2">
      <ul class="p-0">
        <li>
          <%= link_to UNITE_FACEBOOK_URL, target: "_blank" do %>
          <i class="bi bi-facebook"></i>
          <% end %>
        </li>
        <li>
          <%= link_to UNITE_ROOT_URL, target: "_blank" do %>
          <i class="bi bi-twitter-x"></i>
          <% end %>
        </li>
        <li>
          <%= link_to UNITE_YOUTUBE_URL, target: "_blank" do %>
          <i class="bi bi-youtube"></i>
          <% end %>
        </li>
        <li>
          <%= link_to GITHUB_URL, target: "_blank" do %>
          <i class="bi bi-github"></i>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="col-2 upt-2">
      <ul class="p-0">
        <% if show_link_to_vote? %>
        <li>
          <%= link_to_vote %>
        </li>
        <% end %>
        <% if logged_in? %>
        <li>
          <%= link_to_logout %>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="col-4 order-last text-end upt-2">
      <div id="recent_votes_container" style="display:none">
        <div id="recent_votes" class="text-end">
          <div class="row">
            <div class="col-2"><%= _("Country") %></div>
            <div class="col-10"><%= _("Name") %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row upy-3">
    <div class="col-6 left ufs-0-5 text-start">
      <%= _("%{title} v%{version} with Ruby %{ruby_version} and Rails %{rails_version}") % {title: _(UNITE_TITLE), version: (Rails.application.config.version rescue ""), ruby_version: RUBY_VERSION, rails_version: Rails.version} %>
    </div>
    <div class="col-6 right ufs-0-5 text-end">
      <%= copyright %>
    </div>
  </div>

</footer>