<title><%= unitethearmies_title %></title>

<!-- Open Graph tags - https://ogp.me -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport" />
<meta name="twitter:widgets:theme" content="light" />
<meta property="og:title" content="<%= unitethearmies_title %>" />
<meta property="og:type" content="website" />
<meta property="og:image" content="<%= image_url(UNITE_LOGO) %>" />
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="350">
<meta property="og:image:height" content="36">
<meta property="og:image:alt" content="UNITE THE ARMIES text as an image">
<meta property="og:url" content="<%= request.original_url %>" />
<%
=begin%>
<meta property="og:audio" content="" />
<%
=end%>
<meta property="og:description" content="<%= _(UNITE_DESCRIPTION) %>" />
<meta property="og:locale" content="<%= FastGettext.locale %>" />
<meta property="og:determiner" content="the">
<% Language.locales_list.each do |locale| %>
<meta property="og:locale:alternate" content="<%= locale %>" />
<% end %>
<%
=begin%>
<meta property="og:video" content="">
<%
=end%>
<!-- Open Graph tags end -->

<%= csrf_meta_tags %>

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<!-- Font -->
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700%7CRoboto:300,400,500,700' rel='stylesheet' type='text/css' />

<script>
  RUN_RECENT_VOTES = parseInt("<%= ENV['UNITE_RUN_RECENT_VOTES'] %>")
</script>

<%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

<% if production_server? %>
<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-10604388-4', 'auto');
  ga('send', 'pageview');
</script>
<% end %>

<!-- reCAPTCHA -->
<% recaplocale = (locale == "zh") ? "zh-CH" : locale %>
<script src='https://www.google.com/recaptcha/api.js?hl=<%= recaplocale %>'></script>