<div class="new_vote_form">
  <%= form_with model: @vote, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>

  <% if @parent_vote %>
  <%= hidden_field_tag :parent_vote, @parent_vote.public_token %>
  <% end %>

  <div id="sign" class="mb-5">
    <p class="lead"><%= _("We suggest the United Nations presents a global initiative for a redeployment of the world’s armed forces into the new significant environmental tasks as soon as possible.") %></p>
    <div class="mb-3">
      <%= f.label :name, _("Name (*)") %>
      <%= f.text_field :name, :class => "form-control", :placeholder => _("Your name") %>
    </div>
    <div class="mb-3">
      <%= f.label :email, _("Email (*)") %>
      <%= f.text_field :email, :class => "form-control", :placeholder => _("Your email") %>
    </div>
    <div class="mb-3">
      <%= f.label :email_repeat, _("Email Confirmation (*)") %>
      <%= f.text_field :email_repeat, :class => "form-control", :placeholder => _("Repeat your email") %>
    </div>
    <div class="mb-3">
      <%= f.label :country, _("Country (*)") %>
      <%= f.select :country, options_for_select([["", "", {:selected => true, :disabled => true, :hidden => true}]] + Country.for_select, country_code), {}, :class => "form-control" %>
    </div>
    <div class="mb-3">
      <div class="g-recaptcha" data-sitekey="<%= UNITE_RECAPTCHA_PUBLIC_KEY %>"></div>
    </div>
    <p class="text-start">
      <%= f.submit _("Send"), :class => "btn btn-primary" %>
    </p>
    <p><%= _("You can also contribute to the discussion after signing. You will get a separate message of that by email.") %></p>
  </div>
  <% end %>
</div>