<%= form_with url: invite_path, method: :post do |form| %>
<div>
  <div class="mb-3">
    <%= form.label :language, _("Choose the language of the invitation letter") %>
    <%= form.select :language, options_for_select(Language::UN.sorted_un_languages), :class => "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :name, _("Name of your friend") + " *" %>
    <%= form.text_field :name, :class => "form-control", :style => "color: black !important", :placeholder => _("Type your friend's name") %>
  </div>
  <div class="mb-3">
    <%= form.label :email, _("Your friends email address") + " *" %>
    <%= form.text_field :email, :class => "form-control", :style => "color: black !important", :placeholder => _("Type your friend's email") %>
  </div>
  <div class="mb-3">
    <%= form.label :email_repeat, _("Your friends email address again") + " *" %>
    <%= form.text_field :email_repeat, :class => "form-control", :style => "color: black !important", :placeholder => _("Type your friend's email again") %>
  </div>
  <div class="mb-3">
    <div class="g-recaptcha" data-sitekey="<%= UNITE_RECAPTCHA_PUBLIC_KEY %>"></div>
  </div>
  <div class="mb-3">
    <%= form.submit _("Send"), :class => "btn btn-primary" %>
  </div>
</div>
<% end %>