<%= slider_new(@slider) do
  { css: "slideshow-container-top vh-30" }
end %>

<% if locale == :fi %>
<!-- Feature Column Section -->
<section class="section-block upx-8 upy-5">
  <div class="row">
    <div class="col-12">
      <div class="feature-column small center">
        <div class="feature-text">
          <h5 class="text-uppercase text-small weight-light">Seuraavat, eri aloja edustavat, merkittävät professorit ovat antaneet vetoomukselle kannatuksensa:</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row upb-5">
    <div class="col-6">
      <div class="feature-column small center">
        <div class="feature-text">
          <p class="mb-mobile-30 blockquote">
            Mikael Fortelius, evoluutiopaleontologia<br>
            Pekka Kauppi, ympäristönsuojelu <br>
            Anto Leikola, oppihistoria <br>
            Pentti Murole, kaupunkisuunnittelu <br>
            Heikki Palva, arabian kieli <br>
            Juha Pentikäinen, pohjoinen etnografia <br></p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="feature-column small center">
        <div class="feature-text">
          <p class="mb-mobile-30 blockquote">
            Eero Saksela, lääketiede <br>
            Jan Söderlund, arkkitehtuuri <br>
            Peter Tigerstedt, kasvitiede <br>
            Tuija Vihavainen, puutekniikka <br>
            Reijo Vihko, lääketiede <br>
            Yrjö Wiherheimo, teollinen muotoilu </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section-block">
    <div class="row">
      <div class="col-12">
        <div class="feature-column small center">
          <div class="feature-text">
            <h5 class="text-uppercase text-small weight-light">Seuraavat suomalaiset kirjailijat ja suomentajat ovat antaneet vetoomukselle kannatuksensa:</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row upb-5">
      <div class="col-6">
        <div class="feature-column small center">
          <div class="feature-text">
            <p class="mb-mobile-30 blockquote">
              Maikki Harjanne, kirjailija<br />
              Arto Häilä, suomentaja<br />
              Timo Hännikäinen, kirjailija<br />
              Risto Isomäki, kirjailija<br />
              Tiina Krohn, kirjailija<br />
              Pentti Linkola, kirjailija<br />
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="feature-column small center">
          <div class="feature-text">
            <p class="mb-mobile-30 blockquote">
              Harri Manner, kirjailija<br>
              Hannu Mäkelä, kirjailija<br>
              Kimmo Pietiläinen, suomentaja<br>
              Mauno Saari, kirjailija<br>
              Hannu Salama, kirjailija<br>
              Kaari Utrio, kirjailija</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-block">
    <div class="row">
      <div class="col-12">
        <div class="feature-column small center">
          <div class="feature-text">
            <h5 class="text-uppercase text-small weight-light">Seuraavat merkittävät entiset kansanedustajat
              ovat allekirjoittaneet vetoomuksen:</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row upb-5">
      <div class="col-6">
        <div class="feature-column small center">
          <div class="feature-text">
            <p class="mb-mobile-30 blockquote">
              Claes Andersson<br />
              Sirpa Asko-Seljavaara<br />
              Mikko Elo<br />
              Heidi Hautala<br />
              Timo Juurikkala<br />
              Risto Kuisma<br />
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="feature-column small center">
          <div class="feature-text">
            <p class="mb-mobile-30 blockquote">
              Kalle Könkkölä<br />
              Markku Laukkanen<br />
              Outi Ojala<br />
              Kati Peltola<br />
              Pentti Tiusanen<br />
              Marjatta Vehkaoja<br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-block upx-8 bg-secondary upy-8">
  <div class="row">
    <div class="col-12">
      <%= link_to new_vote_path(locale: locale), { :class => button_black} do %>
      <span class="bi bi-person-add align-middle"></span>
      <%= _("Support now") %>
      <% end %>
    </div>
  </div>
</section>
<% end %>

<!-- Show country votes -->
<section class="section-block upy-8 upx-8">
  <% @sorted_votes.each do |vote_count| %>
  <div class="row um-1 up-1 votes">
    <div class="col-1 country_flag">
      <span class="flag-icon flag-icon-<%= vote_count.country %>"></span>
      <%# image_tag "blank.gif", :class => ["flag_small", vote_count.country] %>
    </div>
    <div class="col-2 country"><%= Country.code_to_name(vote_count.country) %></div>
    <div class="col-8 vote_percentage">
      <div style="width:<%= vote_count.diagram_width %>%" class="bg-success"> </div>
    </div>
    <div class="col-1 vote_count"><%= number_with_delimiter(vote_count.count) %></div>
  </div>
  <% end %>
</section>
<!-- Content End -->

<section class="section-block bg-secondary upy-8 upx-8">
  <div class="row">
    <div class="col-12">
      <%= link_to new_vote_path(locale: locale), { :class => button_black } do %>
      <span class="bi bi-person-add"></span>
      <%= _("Support now") %>
      <% end %>
    </div>
  </div>
</section>