<!-- Fullscreen Slider Section -->
<%= slider_section do
  [{
    link: "",
    topic_1: "",
    topic_2: "",
    img: image_path("frontpage-slides/lenkki-pitkospuilla.jpg"),
    img_alt: _("At duckboard"),
    img_blank: image_path("blank.gif")
  }]
  end
  %>
<!-- Fullscreen Slider Section End -->

<!-- Content End -->
<section class="section-block-pt feature-1 bg-white upx-8 upy-8">
  <div class="row">
    <div class="col-12">
      <h1 class="animated-h1 fs-10 color-dark lspacing-medium">
        <%= _("Support") %>
      </h1>
      <h5 class="animated-h5 color-dark lspacing-medium mt-20" data-animate-in="opacity:0;transY:50px;duration:600ms;delay:300ms;easing:easeFastSlow;" data-no-scale>
        <%= _("Radical actions are urgently needed to save our planet.") %>
      </h5>
    </div>
  </div>
</section>

<!-- Feature Section 1 -->
<section class="section-block feature-1 bg-white color-dark upx-8 upy-8">
  <div class="row no-padding-bottom">
    <div class="col-6 offset-3">
      <div class="feature-content">
        <div class="feature-content-inner">
          <%= render partial: "new_form" %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature Section 1 End -->

<section class="section-block feature-2 bg-secondary upx-8 upy-8">
  <div class="row">
    <div class="col-12">
      <%= link_to votes_path(locale: locale), { :class => button_black, :data => { :no_turbolink => true }} do %>
      <span class="bi bi-person-arms-up align-middle"></span>
      <%= _("See who have already voted!") %>
      <% end %>
    </div>
  </div>
</section>