<!-- Content -->
<div class="content clearfix">
  <!-- Fullscreen Slider Section -->
  <section class="section-block featured-media tm-slider-parallax-container">
    <div class="tm-slider-container full-width-slider" data-featured-slider data-progress-bar="false" data-parallax data-parallax-fade-out data-auto-advance data-animation="slide" data-scale-under="960">
      <ul class="tms-slides">
        <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.0">
          <div class="tms-content">
            <div class="tms-content-inner center left-on-mobile v-align-middle">
              <div class="row">
              </div>
            </div>
          </div>
          <img data-src=<%= image_path("frontpage-slides/bridge-park-garden-japanese.jpg") %> src=<%= image_path("blank.gif") %> alt=<%= _("Japanese bridge park garden") %> />
        </li>
      </ul>
    </div>
  </section>
  <!-- Fullscreen Slider Section End -->

  <section class="section-block-pt feature-1 bg-light text-dark">
    <div class="row">
      <div class="col-12">
        <h1 class="title-xlarge text-dark lspacing-medium no-margin-bottom weight-bold" data-animate-in="opacity:0;scale:1.5px;duration:600ms;easing:easeFastSlow;" data-no-scale>
          <%= _("Thank you for your support %{name}") % {name: sanitize(@vote.name)} %>
        </h1>
        <div class="clear"></div>
        <h5 class="color-dark lspacing-medium mt-20" data-animate-in="opacity:0;transY:50px;duration:600ms;delay:300ms;easing:easeFastSlow;" data-no-scale>
          <%= _("This is your private vote (%s)") % sanitize(@vote.email) %>
        </h5>
      </div>
    </div>
  </section>

  <div class="section-block bg-light text-dark">
    <div class="row">
      <div class="col-4">
        <div class="blockquote feature-column small left">
          <p><%= _("Do you wish to spread the word? You can use the methods below to invite anyone and everyone to use their influence on this serious matter!") %>
          <p><%= _("You can invite your friends, colleagues and family to sign the petition by using a form below. You can also share this vote in social media.") %></p>
          <p><i class="bi-heart-fill" style="font-size: 2rem; color: cornflowerblue;"></i></p>
          <p>
            <%= _("Signatures! Let’s work further!") %>
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="blockquote feature-column small left">
          <p><%= _("Your supporter number is %{count}.") % {count: number_with_delimiter(@vote.order_number)} %>
            <%= _("Together, we can easily achieve %{target} signatures globally!") % {count: number_with_delimiter(@vote.votes_missed), target: number_with_delimiter(VoteCount.target_vote_count)} %>
          </p>
          <p><%= _("let’s spread the word!") %></p>
        </div>
      </div>
      <div class="col-4">
        <div class="blockquote feature-column small left">
          <p><%= ("Read comments give by previous voters.") %></p>
          <p><%= _("Join the discussion in Discord.") %></p>
          <p><%= _("You can also add Your own %s!" % tag.u(link_to(_("comment"), new_comment_path))).html_safe %></p>
        </div>
      </div>
    </div>
  </div>

  <% if @vote.votes_count > 0 %>
  <div class="section-block bg-light text-dark">
    <div class="row">
      <div class="col-4 fs-1">
        <%= _("You have helped campaign by having %{count} people signed after you.") %  {count: number_with_delimiter(@votes_count)} %>
      </div>
      <div class="col-4 fs-1">
        <%= _("You have added %{count} comments.") % {count: number_with_delimiter(@comments_count)} %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="section-block bg-dark text-light">
    <div class="row">
      <div class="col-12">
        <h2 class="h2"><%= _("More material") %></h2>
        <p class="blockquote"><%= _("Even if you’ve read everything on our web page, there’s still some material for you to see, such as a printable pamphlet in English+Finnish for you to distribute at your convenience. To spread the idea of armies doing environmental work, see also a simple one-page guide as to how to get more people to sign.") %></p>
        <p><%= _("Sorry, our material is mostly in Finnish. We apologize for any inconvenience this may cause and hope to provide more multilingual material in the future.") %>
        <p><u><%= link_to _("To download page (in finnish)"), download_path(locale: locale) %></u></p>
      </div>
    </div>
  </div>

  <div class="section-block bg-light text-dark">
    <div class="row">
      <div class="col-12">
        <h2 class="h2"><%= _("Add a comment") %></h2>
        <p class="blockquote">
          <%= _("You can now add a comment.") %>
        </p>
        <p><u><%= link_to _("To comment page"), new_comment_path %></u></p>

      </div>
    </div>
  </div>

  <div class="section-block bg-dark text-light">
    <div class="row">
      <div class="col-12">
        <h2 class="h2"><%= _("Share with social media") %></h2>
        <p class="blockquote">
          <%# social_share_button_tag("Save the Planet - Unite the Armies", url: add_parent_vote_url(t: @vote.md5_secret_token)) %>
        </p>
      </div>
    </div>
  </div>

  <div class="section-block bg-light text-dark">
    <div class="row">
      <div class="col-12">
        <h2 class="h2"><%= _("Share email with your friends") %></h2>
        <p class="blockquote">
          <%= _("Invite your friends. Fill out a form below and information will be sent to given email") %>
        </p>
        <%= render partial: "share_vote" %>
      </div>
    </div>
  </div>


</div>