<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
    /* Email styles need to be inline */
  </style>
</head>

<body>

  <section class="mailer-header">
    <h1><%= _("Save the Planet - Unite the Armies") %></h1>
    <%= image_tag attachments['earth.jpg'].url, style: "float:right" -%>
  </section>

  <section class="mailer-body">
    <%= yield %>
  </section>

  <section>
    <p><%= _("sincerely,") %></p>
    <p><%= _(UNITE_SIGNATURE_TITLE) %></p>
  </section>

  <footer class="mailer-footer">
    <p><%= link_to UNITE_ROOT_URL, UNITE_ROOT_URL %></p>
  </footer>

</body>

</html>